# Object files
*.d
*.o
*.ko

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# Binary files
Debug/
Release/
*.axf
*.map
*.bin

#Eclipse files
/.metadata

#Documentation
*.html


